<!--
    File Name		: user_login.html
    Version		    : V1.1
    Designer		: 和合雅輝
    Date			: 2021.06.08
    Purpose       	: ユーザ登録画面

    Revision :
    V1.0 : 和合雅輝, 2021.06.08
    V1.1 : 平澤巧望, 2021.06.08, 本文追加
-->


{% extends "base.html" %}
{% block content %}
    <h2>ログイン</h2>
    <p>
        以下に必要事項を入力の上，［ログイン］をクリックしてください．
    </p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value="ログイン">
        </form>
{% endblock %}