<!--
    File Name		: timer.html
    Version		    : V1.0
    Designer		: 高橋龍平
    Date			: 2021.06.15
    Purpose       	: タイマー設定

    Revision :
    V1.0 : 高橋龍平, 2021.06.08
    V1.1 : 高橋龍平, 2021.07.07 エラーの修正
-->


<html>
<head>
</head>
<body>
<p>
   <input type="button" value="時間設定" id="startcount" onclick="startShowing();">
   <input type="button" value="終了" id="endcount" onclick="stopShowing();">
</p>
<p id="PassageArea">(ここにカウントが表示されます)</p>
</body>

<script>
var PassSec=0;   // 秒数カウント用変数

<!-- 繰り返し処理の中身 -->
function showPassage() {
  <!-- 空白もしくは数字でないとき -->
   if((PassSec=="")||(isNaN(PassSec))){
      alert('時間を設定してください。');
      stopShowing();
   }else {
      <!-- タイマー実行 -->
      PassSec--;
      var Min = parseInt(PassSec / 60);
      var Sec = PassSec % 60;
      if (Min != 0) {
         var msg = "残り時間 " + Min + "分" + Sec + "秒です。";
         document.getElementById("PassageArea").innerHTML = msg;
      } else {
         var msg = "残り時間 " + Sec + "秒です。";   // 表示文作成
         document.getElementById("PassageArea").innerHTML = msg;   // 表示更新
      }
      if (!PassSec) {
         clearInterval(PassageID);
         alert("終了");
      }
   }
}

<!-- 繰り返し処理の開始-->
function startShowing() {
   var mins=window.prompt("分で設定して下さい。ex)1分30秒の場合->1.5と入力",5);
   PassSec = mins*60;
   PassageID = setInterval('showPassage()',1000);
   document.getElementById("startcount").disabled = true;
}

<!-- 繰り返し処理の中止 -->
function stopShowing() {
  clearInterval( PassageID );
  document.getElementById("startcount").disabled = false;
  document.getElementById("PassageArea").innerHTML = '(ここにカウントが表示されます)';
}
</script>
</html>


